.body{
    margin: 0px;
}
.main_bg{
    width: 390px;
}



@media (min-width: 992px) {
   .main_bg{
    width: 100%;
   }
}



















































































.headLine {
    width: 100%;
    height: 80px;
    background-color: #FFFAF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cloveImg{
    width: 101px;
    height: 41px;
    padding-left: 15px;
}

.call {
    width: 154px;
    height: 38px;
    border-radius: 70px;
    border-width: 1px;
    border: 1px solid var(--Brown, #462512);
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
}

.callLogo {
    width: 12px;
    height: 20px;
    align-self: center;
}

.number {
    font-family: Figtree;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color: #1A1A1A;
    align-self: center;
    margin-left: 12px;

}



/*---------------- Hero Section -------------------------------------------------------------------------*/ 

.hero {
    position: relative;
    width: 100%;
    height: 394px;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/8\)hero_bg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
}


.logo_move{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.logo_container{
    width: 330px;
    height: 55px;
    border-bottom-left-radius: 12.7px;
    background: linear-gradient(93.35deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    border: 1px solid #0000001A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_1{
    width: 62px;
    height: 33px;
    padding-left: 25px;
}

.logo_2{
    width: 74px;
    height: 24px;
}

.logo_3{
    width: 101px;
    height: 46px;
}

.hero_text {
    width: 100%;
    height: 215px;
    padding-left: 15px;
    margin-top: 20px;
    background: #FFFFFF80;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
}

.hero_h1{
    height: 47px;
    font-family: Figtree;
    font-weight: bold;
    font-style: ExtraBold;
    font-size: 16px;
}

.span_1{
    color: #EA7D28;
    font-family: Figtree;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.hero_h2 {
    width: 226px;
    height: 32px;
    font-family: Figtree;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #525252;
    margin: 0px;
    padding: 0px;
}

.hero_div{
    width: 210px;
    height: 38px;
    border-radius: 50px;
    border-width: 1px;
    background: #F8943F;
    border: 1px solid #DE6F0D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.hero_img {
    width: 19px;
    height: 20px;

}

.hero_para {
    font-family: Figtree;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;

}

.doctor {
    width: 216px;
    height: 280px;
    position: absolute;   
    top: 114px;
    left: 200px;
    transform: scaleX(-1);
}



/*----------------------- features ------------------------------------------------------------------------ */

.features {
    width: 100%;
}

.features_head{
    font-family: Figtree;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #303030;
}

.features_para {
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-align: center;
    color: #474747;
    padding-left: 15px;
    padding-right: 15px;
}

.cards_container{
    display: flex;
    gap: 0px;        
    overflow-x: auto; 
    
}


.card_ {
    margin: 20px;
    flex-shrink: 0;
}

.features_img {
    width: 285px;
    height: 285px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid var(--Strokes, #FFE0C4)
}

.features_inner_card{
    border: 1px solid var(--Strokes, #FFE0C4);
    border-top-width: 0px;
    width :265px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.features_head2 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 16px;
    color: #000000;

}

.features_para2 {
    font-family: Figtree;
    font-weight: 400;
    font-size: 14px;
    color: var(--Sub-Text, #474747);
}

.list_ {
    color: var(--Sub-Text, #474747);
    list-style-type: circle;
}

.features_para3 {
    font-family: Figtree;
    font-weight: 600;
    font-size: 12px;
    color: var(--Orange, #F58420);
}

.features_cost {
    font-family: Figtree;
    font-weight: 700;
    font-size: 16px;
    color: var(--Head-Text, #1A1A1A);
}

.features_button {
    width: 245px;
    border-radius: 24px;
    padding: 16px;
    background: var(--Orange, #F58420);
    color: #ffffff;
}




/*------------------------------------ about ------------------------------------------------------------ */

.about {
    padding: 20px;
}

.about_head {
    font-family: Figtree;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #303030;
}

.about_para{
    font-family: Figtree;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #474747;
}

.about_img{
    height: 250px;
    width: 80%;
    border-radius: 12px;
}

.center_img{
    text-align: center;
}



.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    
}

.faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: Figtree;
    font-weight: 600;
    font-size: 16px;
    color: #464646;
}

.faq-toggle {
    font-weight: bold;
    transition: 0.3s;
    color: #EA7D28;
    font-size: 20px;
}

.faq-answer {
    display: none;
    font-family: Figtree;
    font-weight: 400;
    font-size: 16px;
    color: #464646;
}



/*----------------------------- reviews ----------------------------------------------------------*/

.reviews{
    padding: 15px;
}

.reviews_head {
    font-family: Figtree;
    font-weight: 700;
    font-size: 20px;
    color: #303030;
    text-align: center;
}

.reviews_para {
    font-family: Figtree;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #474747;
}

.reviews_cards {
    display: flex;
    gap: 20px;        
    overflow-x: auto; 
}

.reviews_card_1{
    flex-shrink: 0;
    width: 200px;
    gap: 8px;
}

.reviews_img {
    width: 200px;
    height: 360px;
    border-radius: 10px;
}

.reviews_head_2 {
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    color: #1A1A1A;
}

.reviews_names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.reviews_para_2 {
    font-family: Figtree;
    font-weight: 600;
    font-size: 12px;
    color: #777777;
}


.reviews_head_3 {
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    color: var(--Orange, #F58420);
}



/*----------------------------------------- price ------------------------------------------------------*/

.price{
    padding: 15px;
    
}

.price_img{
    width: 100%;
    height: 326px;
    border: 0.6px solid var(--Strokes, #FFE0C4);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.price_div{
    border: 0.6px solid var(--Strokes, #FFE0C4);
    margin-top: 0px;
    padding: 10px;
}

.price_head{
    font-family: Figtree;
    font-weight: 700;
    font-size: 16px;
    color: #303030;
}

.list_2{
    list-style-type: circle;
    font-family: Figtree;
    font-weight: 400;
    font-size: 14px;
    color: #474747;
    margin: 0px;
    
}

.price_para{
    font-family: Figtree;
    font-weight: 600;
    font-size: 12px;
    color: var(--Orange, #F58420);
}

.price_para2{
    font-family: Figtree;
    font-weight: 700;
    color: var(--Head-Text, #1A1A1A);
    font-size: 16px;
}

.price_span{
    font-family: Figtree;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    text-decoration: line-through;
    color: var(--Sub-Text, #474747);
}

.price_button{
    font-family: Figtree;
    font-weight: 600;
    font-size: 14px;
    background: var(--Orange, #F58420);
    width: 100%;
   
    border-radius: 24px;
    padding: 16px;
}




/*----------------------------------------------- footer ---------------------------------------------*/

.footer {
    background: #462512;
    padding: 10px;
}

.footer_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_img{
    width: 110px;
    height: 44px;
}


.footer_para{
    font-family: Figtree;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}


.line_{
    border-color: #ffffff;
    border-style: solid;
    border-width: 0.5px;
}

.footer_para2{
    font-family: Figtree;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

/*------------------------------- book -------------------------------------------------------------------*/

.book{
    width: 100%;
    border-width: 1px;
    background-color: #FFF1E6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.book_center{
    text-align: center;
}

.book_img{
    width: 21px;
    height: 23px;
}

.book_para{
    font-family: Figtree;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #4D2C19;
}

.lines{
    width: 3px;
    height: 45px; /* adjust size */
    background: #FFE0C4; 
    align-self: center;
}